body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
  max-height: 100vh;
}

header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  text-align: center;
}

header h1 a {
  text-decoration: none;
  color: #333;
}

nav {
  text-decoration: none;
  color: #007bff;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  background-color: #fff;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 70%;
}

section h2 {
  color: #555;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

section p {
  line-height: 1.6;
}

footer {
  text-align: center;
  padding: 20px 0;
  color: #777;
  font-size: 0.9em;
  margin-top: 40px;
  text-decoration: none;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.snippet {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.snippet:hover {
  cursor: pointer;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
}

.metadata {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.metadata strong {
  font-size: 1.2em;
  color: #007bff;
  display: block;
  margin-bottom: 5px;
}

.metadata span {
  color: #999;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  font-family: "Courier New", Courier, monospace;
  color: #333;
  font-size: 1em;
}

time {
  display: block;
  margin-top: 5px;
}

h2 {
  color: #555;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: #666;
}

tr:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

td a {
  color: #007bff;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}

p {
  margin-top: 15px;
  color: #777;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
  margin-bottom: 20px;
}

nav a {
  color: #007bff;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  text-align: center;
  color: #888;
  font-size: 0.9em;
}

form {
  max-width: 80%;
  margin: 20px auto;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"] {
  width: 70%;
  font-size: 1rem;
  height: 1.5rem;
}

input[type="text"] textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid black;
}

textarea {
  min-height: 100px;
  width: 70%;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="radio"] + label {
  display: inline-block;
  margin-right: 15px;
  font-weight: normal;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4ca049;
}
